@import url('./theme.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .ds-i-item {
    @apply relative outline-none overflow-hidden transition-all duration-200 ease-in-out focus-visible:ring-4;
  }
  .ds-i-item::after {
    @apply transition-opacity duration-200 ease-in-out
  }
  .ds-i-item::after {
    position: absolute;
    content: ' ';
    inset: 0;
    background-color: theme('colors.ds.heles');
    opacity: 0;
    visibility: hidden;
  }
  .ds-i-item:is(:hover,:focus)::after {
    visibility: visible;
    opacity: 1;
  }
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-style: normal;
}
@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-style: italic;
}

@layer components {
.ds-zebra-rows tr:nth-child(even) .ds-value-wrapper {
    @apply bg-transparent;
  }

  .ds-row-roundness-xs {
    @apply first:rounded-tl-ds-s-xs first:rounded-bl-ds-s-xs last:rounded-tr-ds-s-xs last:rounded-br-ds-s-xs;
  }

  .ds-row-roundness-sm {
    @apply first:rounded-tl-ds-s-sm first:rounded-bl-ds-s-sm last:rounded-tr-ds-s-sm last:rounded-br-ds-s-sm;
  }

  .ds-with-border {
    @apply relative;
  }

  .ds-with-border:not(:first-child)::after {
    content: ' ';
    position: absolute;
    inset-block: 20%;
    width: 1px;
    background-color: theme(colors.ds.beerus);
  }
}
