@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-hover: #00000015;
    --clr-focus: #000000;
    --clr-text-100: #D9D9DE;
    --clr-text-200: #838C9E;
    --clr-main-100: #826EF2;
    --clr-main-200: #645FC6;
    --clr-bg-100: #2C2C38;
    --clr-bg-200: #242430;
    --clr-bg-300: #21212D;
    --clr-accent-100: #66E1AC;
    --clr-accent-100: #48C3E7;
  }
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-style: normal;
}
@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-style: italic;
}